body {
  background-color: #000;
}

.base {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pin {
  z-index: 10;
  position: fixed;
  height: 75vh;
  width: 153vw;
  object-fit: cover;
  transform: rotate(-20deg);
  transform-origin: 1115px 460px;
  transition: transform 2s;
}

.demo1,
.demo3 {
  margin-left: 50vw;
}

.demo2 {
  margin-left: 5vw;
}
